{% extends 'base.html' %}

{% block base %}

<div class='ProfilePage'>

  <div class='Right'>
  </div>

  <div class='Left'>
    <div class='Partial'>
      <h1 class="text-danger card-title">Your Profile</h1>
      <h3>Username: {{user.username}}</h3>
      <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
      <h3>Email: {{user.email}}</h3>
      <a href="javascript:{$('#delete-{{user.id}}').submit()}" class="btn btn-sm btn-danger">
        <i class="fas fa-trash-alt"></i>
        Delete Profile
      </a>
      <a href="{% url 'update' user.id %}" class="btn btn-sm btn-info">
        <i class="fas fa-edit"></i>
        Update Profile Details
      </a>
      <form id="delete-{{user.id}}" action="{% url 'delete' user.id%}" method="POST">
        {% csrf_token %}
        <input type="hidden" />
      </form>
    </div>
  </div>

</div>

{% endblock %}
