{% extends 'base.html' %}

{% block base %}

  <div class="Forms">
    <h2 class="text-center text-danger">Update Your Profile</h2>
    <form action="#" method="POST">
      {% csrf_token %}
      {% for field in update_user_form %}
        {{ field.label}}:
        <input class="form-control" type="text" name="{{field.name}}" />
        <span class="error text-danger">{{field.errors}}</span>
      {% endfor %}
      <div>
        <input class="form-control mt-5 btn btn-primary" type="submit" value="Update Profile" />
      </div>
    </form>
  </div>

{% endblock%}
