{% extends 'base.html' %}

{% block base %}

<div class='ChampionsPage'>

  <div class='Right'>
    <ul class='List'>
      {% for champ in champions%}
      <div class='Item'>
        <a href="#">
          <li class='Link'>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champ}}.png" alt="{{champ}}">
            <br/>{{champ}}
          </li>
        </a>
      </div>
      {% endfor %}
    </ul>
  </div>

  <div id='Champ' class='Left'>
    <img id='Splash' src="" alt="">
    <div class='Partial' style='max-height:10%; text-align: center;'>
      <h3 style='margin:0px; display: inline;'>|Attack: <span id='Attack' style='margin:0px; display: inline;'></span>|</h3>
      <h3 style='margin:0px; display: inline;'>Defense: <span id='Defense' style='margin:0px; display: inline;'></span>|</h3>
      <h3 style='margin:0px; display: inline;'>Magic: <span id='Magic' style='margin:0px; display: inline;'></span>|</h3>
    </div>
    <div class='Partial' style='max-height:40%'>
      <p id='Lore'>Click on a Champion to see more info...</p>
    </div>
  </div>

</div>

{% endblock %}
