{% extends 'base.html' %}

{% block base %}

<div class='HomePage'>

  <div class='Right'>
    {% if battles %}
      <ul class='List'>
        {% for battle in battles%}
        <div class='Battle'>
          <li>
            <a href="{% url 'show_battle' battle.id%}">
              {% if battle.result == 'defeat'%}
                <h2 style='color:red;margin-bottom:0px;'>{{battle.result}}</h2>
              {% else %}
                <h2 style='color:green;margin-bottom:0px;'>{{battle.result}}</h2>
              {% endif %}
            </a>
            <h3 style='margin-top:0px;'>{{battle.user_choice}} VS {{battle.comp_choice}}</h3>
            <img style='border: 1px solid yellow'src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{battle.user_choice}}.png" alt="{{battle.user_choice}}" >
            <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{battle.comp_choice}}.png" alt="{{battle.comp_choice}}" >
            <br />{{battle.player}}
            <br />{{battle.battle_date}}
          </li>
        </div>
        {% endfor %}
      </ul>
    {% else %}
      <h1 style='margin: 20px; color: white;'>There are no matches to display at this time...</h1>
    {% endif %}
  </div>

  <div class='Left'>
    <div class='Partial' style='height:50%'>
      <h1>About The Game</h1>
      <h3>
        LOL K (League of Legends Knockoff) is a more intense version of "Rock, Paper, Scissors".
        You'll be able to pick one of the numerous "Champions" that are available, and go up against the computer.
        May the true Champion win...
      </h3>
      <small>League of Legends is created by Riot Games. LOLK uses their characters, images, and info from their free API</small>
    </div>
    <div class="Partial" style='height: 36%'>
      <h3>Top Warriors:</h3>
      <ol>
        {% for rank in rankings %}
          <li><h4>{{rank.0}}: {{rank.1}}</h4></li>
        {% endfor %}
      </ol>
    </div>
  </div>

</div>

{% endblock %}
