.Main{
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Marcellus SC', serif;
}
.Title{
  text-align: center;
  color: white;
  font-size: 60px;
}
.Accounts{
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.Left{
  position: fixed;
  left: 0;
  top: 0;
  height: 75%;
  width: 35%;
  margin-top: 180px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.Right{
  float: right;
  max-width: 60%;
  margin: 10px;
}

.ChampionsPage{
  background-image: url('../images/rift.jpg');
  background-size: cover;
  border: 2px solid black;
  height: 750px;
  overflow: scroll;
}
.Champions{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.Champion{
  text-align: center;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 1px;
}
