{% extends 'base.html' %}

{% block base %}

<div class='BattlePage'>

  <div class='Right' >
    <h1 style='margin: 20px; color: white;'>Battle Ground</h1>
    <div class='UserChoice'>
      <div class='Partial' style='text-align: center'>
        <h3 style='margin: 20px;'>Your Choice:</h3>
        <img id='Thumbnail' src="" alt="" style='display: inline'>
        <span>|Attack: <span id='Attack'></span>|</span>
        <span>Defense: <span id='Defense'></span>|</span>
        <span>Magic: <span id='Magic'></span>|</span>
      </div>
    </div>

    <div class='Buttons'>
      <input id='Lock' class="btn btn-success" type="button"value="Lock In Choice">
      <input id='Generate' class="btn" type="submit" value="Battle?" style="display:none">
      <input id='Battle' class="btn btn-danger" type="submit" value="Battle!" style="display:none">
    </div>

    <div class='CompChoice' style="display:none">
      <div class='Partial' style='text-align: center'>
        <h3 style='margin: 20px;'>Computer Choice:</h3>
        <img id='CompThumbnail' src="" alt="" style='display: inline'>
        <span>|Attack: <span id='CompAttack'></span>|</span>
        <span>Defense: <span id='CompDefense'></span>|</span>
        <span>Magic: <span id='CompMagic'></span>|</span>
      </div>
    </div>
  </div>

  <div class='Left' style='overflow: scroll; width: 38%;'>
    <ul class='List'>
      {% for champ in champions%}
      <div class='Item'>
        <a href="#">
          <li class='Link'>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champ}}.png" alt="{{champ}}">
            <br/>{{champ}}
          </li>
        </a>
      </div>
      {% endfor %}
    </ul>
  </div>

</div>

{% endblock %}
