{% extends 'base.html' %}

{% block base %}

<div class='ChampionsPage'>

  <div class='Right'>
    <ul class='List'>
      {% for champ in champions%}
      <div class='Item'>
        <a href="#">
          <li class='Link'>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champ}}.png" alt="{{champ}}">
            <br/>{{champ}}
          </li>
        </a>
      </div>
      {% endfor %}
    </ul>
  </div>

  <div id='Champ' class='Left'>
    <img id='Splash' src="" alt="">
    <div class='Partial'>
      <p>Attack: <span id='Attack'></span></p>
      <p>Defense: <span id='Defense'></span></p>
      <p>Magic: <span id='Magic'></span></p>
    </div>
    <div class='Partial'>
      <p id='Lore'></p>
    </div>
  </div>

</div>

{% endblock %}
