{% extends 'base.html' %}

{% block base %}

<div class='HomePage'>

  <div class='Right'>
    <h1>There are no matches to display at this time...</h1>
  </div>

  <div class='Left'>
    <div style='background-color:rgba(255, 255, 255, .5); margin:25px; padding:15px; color:black; border-radius:25px'>
      <h1>About The Game</h1>
      <h3>
        LOL K(League of Legends Knockoff) is a more intense version of "Rock, Paper, Scissors".
        You'll be able to pick one of the numerous "Champions" that are available, and go up against the computer.
        May the true Champion win...
      </h3>
      <small>League of Legends is created by Riot Games. LOLK uses their characters, images, and info from their free API</small>
    </div>
  </div>

</div>

{% endblock %}
