{% extends 'base.html' %}

{% block base %}

<div class='ProfilePage'>

  <div class='Right'>
    <ul class='List'>
      {% for battle in battles%}
      <div class='Battle'>
        <li>
          {% if battle.result == 'defeat'%}
            <h2 style='color:red;margin-bottom:0px;'>{{battle.result}}</h2>
          {% else %}
            <h2 style='color:green;margin-bottom:0px;'>{{battle.result}}</h2>
          {% endif %}
          <h3 style='margin-top:0px;'>{{battle.user_choice}} VS {{battle.comp_choice}}</h3>
          <img style='border: 1px solid yellow'src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{battle.user_choice}}.png" alt="{{battle.user_choice}}" >
          <img src="https://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{battle.comp_choice}}.png" alt="{{battle.comp_choice}}" >
          <br />{{battle.battle_date}}
        </li>
      </div>
      {% endfor %}
    </ul>
  </div>

  <div class='Left'>
    <div class='Partial' style='height:55%'>
      <h1 class="text-danger card-title">Your Profile</h1>
      <h3>Username: {{user.username}}</h3>
      <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
      <h3>Email: {{user.email}}</h3>
      <br />
      <a href="javascript:{$('#delete-{{user.id}}').submit()}" class="btn btn-sm btn-danger">
        <i class="fas fa-trash-alt"></i>
        Delete Profile
      </a>
      <a href="{% url 'update' user.id %}" class="btn btn-sm btn-info">
        <i class="fas fa-edit"></i>
        Update Profile Details
      </a>
      <form id="delete-{{user.id}}" action="{% url 'delete' user.id%}" method="POST">
        {% csrf_token %}
        <input type="hidden" />
      </form>
      <h3>Your Rank: {{rank}} out of {{players}} warriors</h3>
    </div>
  </div>

</div>

{% endblock %}
